In [3]:
x=257
if(x<250):
    print("Happy Days")
else:
    print("Sad Days")

Sad Days

In [4]:
#To check user is eliglible for driving licence or not.
age=int(input("Enter the age"))
if(age>=18):
    print("Congrats you are eligible for driving licence")
else:
    print("Sorry!!! Better luck next time")

Congrats you are eligible for driving licence

In [14]:
#To check the given strings are anagram strings or not.
str1='study'
str2='dusty'
s1=sorted(str1)
s2=sorted(str2)
print(s1)
print(s2)
if(s1==s2):
    print(f"Given strings {str1} and {str2} are anagram strings")
else:
    print(f"Given strings {str1} and {str2} are not anagram strings")

['d', 's', 't', 'u', 'y']
['d', 's', 't', 'u', 'y']
Given strings study and dusty are anagram strings

In [16]:
#To check the given string is palidrome string or not.
original_string='nayan'
reverse_string=original_string[::-1]
if(original_string==reverse_string):
    print(f"Given string {original_string} and {reverse_string} are palidrome")
else:
    print(f"Given string {original_string} and {reverse_string} are not palidrome")

Given string rajesh and hsejar are not palidrome

In [6]:
#To check the given number is positive or negative.
number=int(input("Enter the number"))
if(number>0):
    print(f"{number} is positive number")
elif(number==0):
    print(f"{number} is natural number")
else:
    print(f"{number} is negative number")

-78 is negative number

In [11]:
print('''Enter the language selection
      1.Marathi
      2.Hindi
      3.English''')
choice=input("Enter the choice")#string data type
if(choice=='1'):
    print("Welcome to marathi section")
elif(choice=='2'):
    print("Welcome to hindi section")
elif(choice=='3'):
    print("Welcome to english section")
else:
    print("Please enter the valid option")

Enter the language selection
      1.Marathi
      2.Hindi
      3.English
Please enter the valid option

In [13]:
mobile_recharge_amount=[239,269,299,350]
amount=int(input("Enter the mobile recharge amount"))
if(amount==239):
    print("Mobile data 1.5gb per day ,28 days and 2 subscriptions are free")
elif(amount==269):
    print("Mobile data 1.5gb per day ,28 days and 4 subscriptions are free")
elif(amount==299):
    print("Mobile data 2 gb per day ,30 days and 4 subscriptions are free")
elif(amount==350):    
    print("Mobile data 4 gb per day ,30 days and 2 subscriptions are free")
else:
    print("Please re-enter the amount")

Mobile data 4 gb per day ,30 days and 2 subscriptions are free

In [26]:
purchase_amount=int(input("Enter the amount"))
print("Purchase amount is",purchase_amount)
discount=0
if(purchase_amount>10000):
    discount=purchase_amount*20/100   
elif(purchase_amount>5000 and purchase_amount<=10000):
    discount=purchase_amount*10/100
elif(purchase_amount>1000 and purchase_amount<=5000):
    discount=purchase_amount*5/100   
else:
    print("No discount")
final_amount=purchase_amount-discount
print("Please pay amount",final_amount)
saving_amount=purchase_amount-final_amount
print("Saving amount is",saving_amount)

Purchase amount is 25000
Please pay amount 20000.0
Saving amount is 5000.0

 Given an integer n perform the following conditional actions:
•	If n is odd, print Happy
•	If  n is even and in the inclusive range of  2 to 5 , print Not Happy
•	If  n is even and in the inclusive range of 6 to 20 , print Happy
•	If  n is even and greater than 20, print Not Happy

In [31]:
n=int(input("Enter the number"))
print("Number is",n)
if(n%2==1): #odd number
    print("Happy")
elif n in range(2,6): #2,3,4,5 only even numbers
    print("Not happy")
elif n in range(6,21):#6,7,8....20 only even numbers
    print("Happy")
else:
    print("Not happy")

Number is 25
Happy

In [3]:
#for loop:=>list data type
x=[11,22,33,44,55]
for i in x:
    print("Happy")
    print(i)
print("Hello")

Happy
11
Hello
Happy
22
Hello
Happy
33
Hello
Happy
44
Hello
Happy
55
Hello

In [4]:
#for loop:=>tuple data type
x=(11,22,33,44,55)
for i in x:
    print("Happy")
    print(i)
print("Hello")

Happy
11
Happy
22
Happy
33
Happy
44
Happy
55
Hello

In [5]:
y={1,2,3,3,4,5,5,6}
for i in y:
    print(i,"Hello")

1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello

In [6]:
#for loop=>range()
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
#for loop =>dictionary data type
d1={1:'One',2:'Two',3:'Three',4:'Four'}
for i in d1:
    print(i)

1
2
3
4

In [8]:
d1={1:'One',2:'Two',3:'Three',4:'Four'}
for i in d1.values():
    print(i)

One
Two
Three
Four

In [9]:
d2={'a':[1,2,3,4],'b':[4,5,6,7]}
for i in d2:
    print(i)

a
b

In [10]:
d2={'a':[1,2,3,4],'b':[4,5,6,7]}
for i in d2.values():
    print(i)

[1, 2, 3, 4]
[4, 5, 6, 7]

In [11]:
d2={'a':[1,2,3,4],'b':[4,5,6,7]}
for i in d2:
    print(d2[i])

[1, 2, 3, 4]
[4, 5, 6, 7]

In [12]:
d2={'a':[1,2,3,4],'b':[4,5,6,7]}
for i in d2.items():
    print(i)

('a', [1, 2, 3, 4])
('b', [4, 5, 6, 7])

In [13]:
#To display the numbers in ascending order from 11 to 30.
for i in range(11,31):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [14]:
#To display the odd numbers from 11 to 30.
for i in range(11,31,2):
    print("Odd numbers",i)

Odd numbers 11
Odd numbers 13
Odd numbers 15
Odd numbers 17
Odd numbers 19
Odd numbers 21
Odd numbers 23
Odd numbers 25
Odd numbers 27
Odd numbers 29

In [16]:
#To display the odd numbers from 11 to 30.
for i in range(11,31):
    if(i%2!=0):
        print("Odd numbers",i)

Odd numbers 11
Odd numbers 13
Odd numbers 15
Odd numbers 17
Odd numbers 19
Odd numbers 21
Odd numbers 23
Odd numbers 25
Odd numbers 27
Odd numbers 29

In [17]:
#To display the even numbers from 11 to 30.
for i in range(12,31,2):
    print(i)

12
14
16
18
20
22
24
26
28
30

In [18]:
#To display the even numbers from 11 to 30.
for i in range(11,31,):
    if(i%2==0):
        print("Even numbers",i)

Even numbers 12
Even numbers 14
Even numbers 16
Even numbers 18
Even numbers 20
Even numbers 22
Even numbers 24
Even numbers 26
Even numbers 28
Even numbers 30

In [20]:
#To display a number series=>1,4,9...100
print("Number series: ")
for i in range(1,11):
    print(i*i,end='\t')

Number series
1	4	9	16	25	36	49	64	81	100

In [24]:
#To display the multiplication table of 5.
print("Multiplication table of 5")
for i in range(1,11):
    print(f"5 * {i} = {5*i}")

Multiplication table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [25]:
for i in range(1,6):
    print('5'*i)

5
55
555
5555
55555

In [26]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [36]:
#To display the series 2+22+222+2222...n terms.
#input=> n terms
n=int(input("Enter the number"))
ch='2'
for i in range(1,n+1):
    print(f"{ch}",end='+')
    ch+='2' #ch=ch+'2'

2+22+222+2222+22222+

In [37]:
#for with else statement
for i in range(1,4):
    print("Inside a for loop")
else:
    print("Outside a for loop")

Inside a for loop
Inside a for loop
Inside a for loop
Outside a for loop

In [38]:
#for with break statement
for i in 'Preeti':
    if(i=='t'):
        break
    print(i)

P
r
e
e

In [39]:
#for with continue statement
for i in 'Preeti':
    if(i=='t'):
        continue
    print(i)

P
r
e
e
i

In [60]:
#guess number 
import random
number=random.randint(1,10)
print(number)
for i in range(1,4):
    user_number=int(input("Enter guessing number"))
    if(number==user_number):
        print("You guessed correctly")
        break
else:
    print("Better luck next time")

5
Better luck next time

In [1]:
#while loop
#To generate sequence no from 11 to 15.
x=11
while(x<=15):
    print("Value of x is",x)
    x+=1  #increment counter variable

Value of x is 11
Value of x is 12
Value of x is 13
Value of x is 14
Value of x is 15

In [3]:
#To display sum of digits of a given number.
number=int(input("Enter the number"))
temp=number
remainder=0
sum=0 #output variable
while(number>0):
    remainder=number%10
    sum+=remainder
    number=number//10 #quotient
print(f"Sum of digits of a given {temp} is {sum}")

Sum of digits of a given 756 is 18

In [6]:
#To display the reverse number of a given number.
#756=>657
number=int(input("Enter the number"))
temp=number
remainder=0
reverse_number=0 #output variable
while(number>0):
    remainder=number%10
    reverse_number=reverse_number*10+remainder
    number=number//10 #quotient
print(f"Reverse number of a given {temp} is {reverse_number}")

Reverse number of a given 687898 is 898786

In [7]:
#To display the reverse number of a given number.
number=int(input("Enter the number"))
#type casting
s1=str(number) #convert number into string
rev_s1=s1[::-1]
##convert string into number
reverse_number=int(rev_s1)
print(f"Reverse number of a given {number} is {reverse_number}")

Reverse number of a given 7658 is 8567

In [8]:
x=0
while x*10:
    print("hello")

In [10]:
x=0
if x:
    print("Hello")
else:
    print("Bye")

Bye

In [18]:
x=10
while x*10:
    print("hello")
    break
else:
    print("Bye")

hello

In [25]:
atm_password=1234
attempts=1
while(attempts<4):
    password=int(input("Enter the password"))
    if(atm_password==password):
        print("Please you can do further bank operations")
        break
    attempts+=1
else:
    print("Please visit to main branch")

Please visit to main branch

In [26]:
x=100
y=200
print("Value of y",y)
pass #null statement
print("Value of x",x)

Value of y 200
Value of x 100

In [ ]:
#input =>given list
x = [10, -20, 15, 30, -45, 65, -27]
a = [] #output variable
#for loop  for accessing one by one element from a list
for i in x:
    #to check the given number is positive
    if i >= 0:
        #if number is positive the add into a list variable
        a.append(i)
#to dipslay the output of program
print(f"The positive numbers are {a}")

In [1]:
#To display the name of students which contains alphabet 'r'.
#input variable=>names
names=('Vikram','Trupti','Anjali','Shruti','Mudit','Siddhant')
#output variable 
result=[]
for n in names:
    if 'r' in n:
        result.append(n)
print(f"Names are which containing an alphabet 'r' {result}")

Names are which containing an alphabet 'r' ['Vikram', 'Trupti', 'Shruti']

In [8]:
#To display the name of students those are start with alphabet 'S'
#input variable=>names
names=('Vikram','Trupti','Anjali','Shruti','Mudit','Siddhant','Sonali','Satyam','AaStha','shivani')
result=[]
for n in names:
    if n.startswith('S') or n.startswith('s'):
        result.append(n)
print(f"names are start with s are {result}")

names are start with s are ['Shruti', 'Siddhant', 'Sonali', 'Satyam', 'shivani']

In [7]:
#To display the name of students those are start with alphabet 'S'
#input variable=>names
names=('Vikram','Trupti','Anjali','Shruti','Mudit','Siddhant','Sonali','Satyam','AaStha')
result=[]
for n in names:
    if 'S' in n[0]:
        result.append(n)
print(f"names are start with s are {result}")

names are start with s are ['Shruti', 'Siddhant', 'Sonali', 'Satyam']

In [12]:
#To display reverse string of elements of a tuple.
#input variable=>names
names=('Vikram','Trupti','Anjali','Shruti','Mudit','Siddhant','Sonali','Satyam','AaStha')
#output variable
reverse_string=[]
for i in names:
    reverse_string.append(i[::-1])
print("Reverse string order tuple elements ",reverse_string)

Reverse string order tuple elements  ['markiV', 'itpurT', 'ilajnA', 'iturhS', 'tiduM', 'tnahddiS', 'ilanoS', 'maytaS', 'ahtSaA']

In [13]:
x='Harshal'
result=[i for i in x]
print("Character list is",result)

Character list is ['H', 'a', 'r', 's', 'h', 'a', 'l']

In [14]:
#to display square of number from a given tuple
numbers=(3,6,8,9,12,15)
sqaure_list=[i*i for i in numbers]
print("Square of number from a given list",sqaure_list)

Square of number from a given list [9, 36, 64, 81, 144, 225]

In [15]:
#To display reverse string of elements of a tuple.
#input variable=>names
names=('Vikram','Trupti','Anjali','Shruti','Mudit','Siddhant','Sonali','Satyam','AaStha')
new_list=[i[::-1] for i in names]
print(new_list)

['markiV', 'itpurT', 'ilajnA', 'iturhS', 'tiduM', 'tnahddiS', 'ilanoS', 'maytaS', 'ahtSaA']

In [19]:
#To filter positive numbers from a given list and count total no of positive elements.
x = [10, -20, 15, 30, -45, 65, -27]
pos_number=[i for i in x if i>0]
print("Positive numbers are",pos_number)
print("Total no of positive numbers are",len(pos_number))

Positive numbers are [10, 15, 30, 65]
Total no of positive numbers are 4

In [17]:
#To filter negative numbers from a given list
x = [10, -20, 15, 30, -45, 65, -27]
neg_number=[i for i in x if i<0]
print("Positive numbers are",neg_number)

Positive numbers are [-20, -45, -27]

In [25]:
birthdate='12/06/2024'
lucky_number=sum([int(i) for i in birthdate if i.isdigit()])
while lucky_number>9:
    lucky_number=sum([int(i) for i in str(lucky_number)])
print("Lucky number is ",lucky_number)

8

In [ ]:
vechicle_number='MH12RH1786'

In [2]:
#Nested while loop
i=1
while(i<=3):
    print("Outer loop counter variable value i=",i)
    j=1
    while(j<=2):
        print("Inner loop counter variable j=",j)
        j+=1
    i+=1

Outer loop counter variable value i= 1
Inner loop counter variable j= 1
Inner loop counter variable j= 2
Outer loop counter variable value i= 2
Inner loop counter variable j= 1
Inner loop counter variable j= 2
Outer loop counter variable value i= 3
Inner loop counter variable j= 1
Inner loop counter variable j= 2

In [4]:
#To display the multiplication table from 11 to 15.
#counter variable=>to take number
i=11
while(i<=15):
    #counter variable=>to generate multiplication table
    j=1
    while(j<=10):
        print(i*j,end='\t')
        #update variable j
        j+=1
    print("\n")
    #update variable i
    i+=1

11	22	33	44	55	66	77	88	99	110

12	24	36	48	60	72	84	96	108	120

13	26	39	52	65	78	91	104	117	130

14	28	42	56	70	84	98	112	126	140

15	30	45	60	75	90	105	120	135	150

In [6]:
#nested for loop
for i in range(1,4):
    print("Outer loop variable i=",i)
    for j in range(1,3):
        print("Inner loop counter variable j=",j)

Outer loop variable i= 1
Inner loop counter variable j= 1
Inner loop counter variable j= 2
Outer loop variable i= 2
Inner loop counter variable j= 1
Inner loop counter variable j= 2
Outer loop variable i= 3
Inner loop counter variable j= 1
Inner loop counter variable j= 2

In [8]:
#To display the multiplication table from 11 to 15.
for i in range(11,16):
    for j in range(1,11):
        print(i*j,end='\t')
    print('\n')

11	22	33	44	55	66	77	88	99	110

12	24	36	48	60	72	84	96	108	120

13	26	39	52	65	78	91	104	117	130

14	28	42	56	70	84	98	112	126	140

15	30	45	60	75	90	105	120	135	150

In [9]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='\t')
    print('\n')

1

1	2

1	2	3

1	2	3	4

1	2	3	4	5

In [10]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end='\t')
    print('\n')

1

2	2

3	3	3

4	4	4	4

5	5	5	5	5

In [11]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i*j,end='\t')
    print('\n')

1

2	4

3	6	9

4	8	12	16

5	10	15	20	25

In [13]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i+j-1,end='\t')
    print('\n')

1

2	3

3	4	5

4	5	6	7

5	6	7	8	9

In [19]:
for i in range(1,6):
    for j in range(0,i):
        print(i+j,end='\t')
    print('\n')

1

2	3

3	4	5

4	5	6	7

5	6	7	8	9

In [23]:
for i in range(1,6) :                  
    for j  in range(6) :             
        if i-1   >=  j   : 
            print(i+j,  end = "\t")
    print()

1
2	3
3	4	5
4	5	6	7
5	6	7	8	9

In [26]:
ascii_value=ord('A')
for i in range(1,6):
    for j in range(1,i+1):
        print(chr(ascii_value),end='\t')
    print('\n')

A

A	A

A	A	A

A	A	A	A

A	A	A	A	A

In [24]:
ord('A')

65

In [25]:
chr(65)

'A'

In [27]:
ascii_value=ord('A')
for i in range(1,6):
    for j in range(1,i+1):
        print(chr(ascii_value),end='\t')
        ascii_value+=1
    print('\n')

A

B	C

D	E	F

G	H	I	J

K	L	M	N	O

In [28]:
ascii_value=ord('A')
for i in range(1,6):
    for j in range(1,i+1):
        print(chr(ascii_value),end='\t')
    ascii_value+=1
    print('\n')

A

B	B

C	C	C

D	D	D	D

E	E	E	E	E

In [29]:

for i in range(1,6):
    ascii_value=ord('A')
    for j in range(1,i+1):
        print(chr(ascii_value),end='\t')
        ascii_value+=1
    print('\n')

A

A	B

A	B	C

A	B	C	D

A	B	C	D	E

In [30]:
result=[[x,y,z] for x in range(1,3) for y in range(1,3) for z in range(1,3)]
print("Total no of list elements",len(result))
print("Result list",result)

Total no of list elements 8
Result list [[1, 1, 1], [1, 1, 2], [1, 2, 1], [1, 2, 2], [2, 1, 1], [2, 1, 2], [2, 2, 1], [2, 2, 2]]

In [31]:
for x in range(1,3):
    for y in range(1,3):
        for z in range(1,3):
            print(x,y,z)

1 1 1
1 1 2
1 2 1
1 2 2
2 1 1
2 1 2
2 2 1
2 2 2