In [23]:
#To create empty  dictionary
x=dict()
print(type(x))

<class 'dict'>

In [24]:
y={}
print(type(y))

<class 'dict'>

In [25]:
x={'a':1,'b':2,'c':4,'d':5}
print(x)

{'a': 1, 'b': 2, 'c': 4, 'd': 5}

In [26]:
x={'a':1,'b':2,'c':4,'d':5,'c':8}
print(x)

{'a': 1, 'b': 2, 'c': 8, 'd': 5}

In [27]:
stud_data={'student_name':['Karan','Swapnil','Amol','Tushar'],
           'marks':[78,56,90,34]}
print(stud_data)

{'student_name': ['Karan', 'Swapnil', 'Amol', 'Tushar'], 'marks': [78, 56, 90, 34]}

In [28]:
import pandas as pd
pd.DataFrame(stud_data)

  student_name  marks
0        Karan     78
1      Swapnil     56
2         Amol     90
3       Tushar     34

In [29]:
stud_data.keys()

dict_keys(['student_name', 'marks'])

In [30]:
stud_data.values()

dict_values([['Karan', 'Swapnil', 'Amol', 'Tushar'], [78, 56, 90, 34]])

In [31]:
stud_data.items()

dict_items([('student_name', ['Karan', 'Swapnil', 'Amol', 'Tushar']), ('marks', [78, 56, 90, 34])])

In [32]:
#to access a key values
#method 1
stud_data.get('student_name')

['Karan', 'Swapnil', 'Amol', 'Tushar']

In [33]:
#method 2
stud_data['student_name']

['Karan', 'Swapnil', 'Amol', 'Tushar']

In [34]:
#to merge two dictionary
d1={'education':('BE(IT)','BECSE','BE(E&TC)','BE(ELE.)')}
stud_data.update(d1)
print(stud_data)

{'student_name': ['Karan', 'Swapnil', 'Amol', 'Tushar'], 'marks': [78, 56, 90, 34], 'education': ('BE(IT)', 'BECSE', 'BE(E&TC)', 'BE(ELE.)')}

In [35]:
#to delete a particular column
stud_data.popitem()
print(stud_data)

{'student_name': ['Karan', 'Swapnil', 'Amol', 'Tushar'], 'marks': [78, 56, 90, 34]}

In [36]:
stud_data.pop('marks')
print(stud_data)

{'student_name': ['Karan', 'Swapnil', 'Amol', 'Tushar']}

In [37]:
stud_data.clear()

In [38]:
stud_data

{}

In [39]:
del stud_data

In [40]:
#dictionary within dictionary
result_data={'Arundhati':{'course_name':'python','marks':78},
             'Priyanka':{'course_name':'python','marks':67},
             'Anjali':{'course_name':'python','marks':87}}
print(result_data)

{'Arundhati': {'course_name': 'python', 'marks': 78}, 'Priyanka': {'course_name': 'python', 'marks': 67}, 'Anjali': {'course_name': 'python', 'marks': 87}}

In [41]:
import pandas as pd
pd.DataFrame(result_data)

            Arundhati Priyanka  Anjali
course_name    python   python  python
marks              78       67      87

In [42]:
result_data['Priyanka']['marks']

67

In [45]:
result_data.get('Priyanka','marks')

{'course_name': 'python', 'marks': 67}

In [46]:
result_data['Arundhati']['marks']=92
print(result_data)

{'Arundhati': {'course_name': 'python', 'marks': 92}, 'Priyanka': {'course_name': 'python', 'marks': 67}, 'Anjali': {'course_name': 'python', 'marks': 87}}

In [47]:
result_data_new={'Karan':{'course_name':'python','marks':85},
             'Pinki':{'course_name':'python','marks':73},
             'Snehal':{'course_name':'python','marks':89}}
print(result_data_new)

{'Karan': {'course_name': 'python', 'marks': 85}, 'Pinki': {'course_name': 'python', 'marks': 73}, 'Snehal': {'course_name': 'python', 'marks': 89}}

In [48]:
#method 1 =>to add records into existing dictionary
result_data.update(result_data_new)
print(result_data)

{'Arundhati': {'course_name': 'python', 'marks': 92}, 'Priyanka': {'course_name': 'python', 'marks': 67}, 'Anjali': {'course_name': 'python', 'marks': 87}, 'Karan': {'course_name': 'python', 'marks': 85}, 'Pinki': {'course_name': 'python', 'marks': 73}, 'Snehal': {'course_name': 'python', 'marks': 89}}

In [49]:
#method 2
result_data['Shruti']={}
result_data['Shruti']['course_name']='Data Science'
result_data['Shruti']['marks']=93
result_data

{'Arundhati': {'course_name': 'python', 'marks': 92},
 'Priyanka': {'course_name': 'python', 'marks': 67},
 'Anjali': {'course_name': 'python', 'marks': 87},
 'Karan': {'course_name': 'python', 'marks': 85},
 'Pinki': {'course_name': 'python', 'marks': 73},
 'Snehal': {'course_name': 'python', 'marks': 89},
 'Shruti': {'course_name': 'Data Science', 'marks': 93}}

In [52]:

from collections import OrderedDict
 
x = {'ravi': '10', 'rajnish': '9',
        'sanjeev': '15', 'yash': '2', 'suraj': '32'}
dict1 = OrderedDict(x)
print(dict1)

OrderedDict({'ravi': '10', 'rajnish': '9', 'sanjeev': '15', 'yash': '2', 'suraj': '32'})