In [41]:
#create an empty list
x=[]
print(type(x))

<class 'list'>

In [42]:
y=list()
print(type(y))

<class 'list'>

In [43]:
student_name=['Priyanka','Aastha','Chirayu']
print(student_name)

['Priyanka', 'Aastha', 'Chirayu']

In [44]:
#add students into existing list
student_name.append('Neha') #called function

In [45]:
student_name

['Priyanka', 'Aastha', 'Chirayu', 'Neha']

In [46]:
student_name.extend(['Shruti','Mudit','Deepak'])
print(student_name)

['Priyanka', 'Aastha', 'Chirayu', 'Neha', 'Shruti', 'Mudit', 'Deepak']

In [47]:
student_name.insert(3,'Madhura')
print(student_name)

['Priyanka', 'Aastha', 'Chirayu', 'Madhura', 'Neha', 'Shruti', 'Mudit', 'Deepak']

In [48]:
#access only one element
student_name[0]

'Priyanka'

In [49]:
student_name[1]

'Aastha'

In [50]:
student_name[4]

'Neha'

In [51]:
print(student_name[::-1])

['Deepak', 'Mudit', 'Shruti', 'Neha', 'Madhura', 'Chirayu', 'Aastha', 'Priyanka']

In [52]:
#access even index number element 
student_name[::2]

['Priyanka', 'Chirayu', 'Neha', 'Mudit']

In [53]:
student_name[1::2]

['Aastha', 'Madhura', 'Shruti', 'Deepak']

In [54]:
print(student_name)

['Priyanka', 'Aastha', 'Chirayu', 'Madhura', 'Neha', 'Shruti', 'Mudit', 'Deepak']

In [55]:
#modify list element
student_name[3]='Pratiksha'

In [56]:
print(student_name)

['Priyanka', 'Aastha', 'Chirayu', 'Pratiksha', 'Neha', 'Shruti', 'Mudit', 'Deepak']

In [57]:
student_name[4:7]=['Trupti','Vikram','Sonal']
print(student_name)

['Priyanka', 'Aastha', 'Chirayu', 'Pratiksha', 'Trupti', 'Vikram', 'Sonal', 'Deepak']

In [58]:
temp=student_name[0]
student_name[0]=student_name[-1]
student_name[-1]=temp
print(student_name)

['Deepak', 'Aastha', 'Chirayu', 'Pratiksha', 'Trupti', 'Vikram', 'Sonal', 'Priyanka']

In [59]:
#to delete list elements
student_name.pop()
print(student_name)

['Deepak', 'Aastha', 'Chirayu', 'Pratiksha', 'Trupti', 'Vikram', 'Sonal']

In [60]:
student_name.remove('Trupti')
print(student_name)

['Deepak', 'Aastha', 'Chirayu', 'Pratiksha', 'Vikram', 'Sonal']

In [61]:
student_name.reverse()#student_name[::-1]
print(student_name)

['Sonal', 'Vikram', 'Pratiksha', 'Chirayu', 'Aastha', 'Deepak']

In [62]:
student_name.sort() #ascending order
print(student_name)

['Aastha', 'Chirayu', 'Deepak', 'Pratiksha', 'Sonal', 'Vikram']

In [63]:
#ord() returns ascii value of given character
ord('p')

112

In [64]:
ord('P')

80

In [65]:
print(student_name)

['Aastha', 'Chirayu', 'Deepak', 'Pratiksha', 'Sonal', 'Vikram']

In [66]:
student_name.extend(['rushabh','satyam'])
student_name.sort()
print(student_name)

['Aastha', 'Chirayu', 'Deepak', 'Pratiksha', 'Sonal', 'Vikram', 'rushabh', 'satyam']

In [67]:
#operator overloading
student_name=student_name+['Hashamat','Hrishita']
print(student_name)

['Aastha', 'Chirayu', 'Deepak', 'Pratiksha', 'Sonal', 'Vikram', 'rushabh', 'satyam', 'Hashamat', 'Hrishita']

In [68]:
student_name=['Hashamat','Hrishita']+student_name
print(student_name)

['Hashamat', 'Hrishita', 'Aastha', 'Chirayu', 'Deepak', 'Pratiksha', 'Sonal', 'Vikram', 'rushabh', 'satyam', 'Hashamat', 'Hrishita']

In [69]:
len(student_name)

12

In [70]:
student_name=student_name*2
print(student_name)

['Hashamat', 'Hrishita', 'Aastha', 'Chirayu', 'Deepak', 'Pratiksha', 'Sonal', 'Vikram', 'rushabh', 'satyam', 'Hashamat', 'Hrishita', 'Hashamat', 'Hrishita', 'Aastha', 'Chirayu', 'Deepak', 'Pratiksha', 'Sonal', 'Vikram', 'rushabh', 'satyam', 'Hashamat', 'Hrishita']

In [71]:
a=10
b=a #assignment operator
print(a,b)

10 10

In [73]:
print("Id of a",id(a))
print("Id of a",id(b))

Id of a 140723408816856
Id of a 140723408816856

In [76]:
a=20
b=20
print("Id of a",id(a))
print("Id of b",id(b))

Id of a 140723408817176
Id of b 140723408817176

In [79]:
#deep copy
x=[10,20,30,50]
y=x #assignment operator
print("Original list",x)
print("Copied list",y)
#modify x elements
x.extend([40,60])
print("Original list",x)
print("Copied list",y)
print("Id of x",id(x))
print("Id of y",id(y))

Original list [10, 20, 30, 50]
Copied list [10, 20, 30, 50]
Original list [10, 20, 30, 50, 40, 60]
Copied list [10, 20, 30, 50, 40, 60]
Id of x 1987671862464
Id of y 1987671862464

In [81]:
x=[10,20,30,50]
y=[10,20,30,50]
print("Original list",x)
print("Copied list",y)
print("Id of x",id(x))
print("Id of y",id(y))
#modify x elements
x.extend([40,60])
print("Original list",x)
print("Copied list",y)
print("Id of x",id(x))
print("Id of y",id(y))

Original list [10, 20, 30, 50]
Copied list [10, 20, 30, 50]
Id of x 1987672176448
Id of y 1987672091712
Original list [10, 20, 30, 50, 40, 60]
Copied list [10, 20, 30, 50]
Id of x 1987672176448
Id of y 1987672091712

In [83]:
#shallow copy
x=[10,20,30,50]
y=x.copy()
print("Original list",x)
print("Copied list",y)
print("Id of x",id(x))
print("Id of y",id(y))
#modify x elements
x.extend([40,60])
print("Original list",x)
print("Copied list",y)

Original list [10, 20, 30, 50]
Copied list [10, 20, 30, 50]
Id of x 1987672155712
Id of y 1987672078208
Original list [10, 20, 30, 50, 40, 60]
Copied list [10, 20, 30, 50]

In [84]:
numbers=[10,30,40,20,40,30,30,30,70,80]
numbers.count(30)

4

In [85]:
from collections import Counter
Counter(numbers)

Counter({30: 4, 40: 2, 10: 1, 20: 1, 70: 1, 80: 1})

In [86]:
str1='Swapnil'
from collections import Counter
Counter(str1)

Counter({'S': 1, 'w': 1, 'a': 1, 'p': 1, 'n': 1, 'i': 1, 'l': 1})

In [87]:
fruits=('apple','banana','mango','pineapple')
print(type(fruits))

<class 'tuple'>

In [88]:
fruits.count('apple')

1

In [89]:
from collections import Counter
Counter(fruits)

Counter({'apple': 1, 'banana': 1, 'mango': 1, 'pineapple': 1})

In [90]:
fruits.index('mango')

2

In [91]:
fruits[2]='grapes'

TypeError: 'tuple' object does not support item assignment

In [93]:
t1=(11,45,23,21,12,78,98,43)
sorted_items=sorted(t1)
print(tuple(sorted_items))

(11, 12, 21, 23, 43, 45, 78, 98)

In [94]:
str1='python'
sorted(str1)

['h', 'n', 'o', 'p', 't', 'y']