In [1]:
range(10)

range(0, 10)

In [2]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
#odd number sequence
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [5]:
#even number sequence
tuple(range(0,11,2))

(0, 2, 4, 6, 8, 10)

In [6]:
#descending order sequence number
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
set(range(2,20,4))

{2, 6, 10, 14, 18}

In [8]:
list(range(3,33,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [9]:
tuple(range(1,50,5))

(1, 6, 11, 16, 21, 26, 31, 36, 41, 46)

In [11]:
set(range(5,55,-1))

set()

In [12]:
list(range(40,4,-4))

[40, 36, 32, 28, 24, 20, 16, 12, 8]

In [13]:
4+pow(pow(2,3),2)-5

63

In [14]:
4+pow(2,pow(3,2))-5 #4+2**3**2-5

511

In [15]:
a=10
b=10
print(a==b)

True

In [17]:
a='python'
b='Python'
print(a==b)

False

In [18]:
a=[1,2,3]
b=[3,1,2]
print(a==b)

False

In [19]:
a=(1,2,3)
b=(3,1,2)
print(a==b)

False

In [20]:
#important
a={1,2,3}
b={3,1,2}
print(a==b)

True

In [21]:
a={'1':10,'2':20,'3':40}
b={'1':10,'2':20,'3':40}
print(a==b)

True

In [22]:
a=2
b=3
a**=b #a=a**b
print("Value of a is",a)
print("Value of b is",b)

Value of a is 8
Value of b is 3

In [23]:
a=2
b=3
b**=a #b=b**a
print("Value of a is",a)
print("Value of b is",b)

Value of a is 2
Value of b is 9

In [24]:
list1=['a','e','d','f','y']
'y' in list1

True

In [25]:
x='Siddhant'
'a' in x

True

In [26]:
x='Siddhant'
'a' not in x

False

In [27]:
date='04/06/2024'
'4' in date

True

In [31]:
#identity operator=>values +memory address
x=100
y=100
print("Comparision operator",x==y)
print("Identity operator",x is y)
print("Identity operator",x is not y)
print("Id of x is",id(x))
print("Id of y is",id(y))

Comparision operator True
Identity operator True
Identity operator False
Id of x is 140723424155160
Id of y is 140723424155160

In [32]:
x=255
y=255
print("Comparision operator",x==y)
print("Identity operator",x is y)
print("Identity operator",x is not y)
print("Id of x is",id(x))
print("Id of y is",id(y))

Comparision operator True
Identity operator True
Identity operator False
Id of x is 140723424160120
Id of y is 140723424160120

In [33]:
x=257
y=257
print("Comparision operator",x==y)
print("Identity operator",x is y)
print("Identity operator",x is not y)
print("Id of x is",id(x))
print("Id of y is",id(y))

Comparision operator True
Identity operator False
Identity operator True
Id of x is 2084309985392
Id of y is 2084309986992

In [34]:
2**8

256

In [35]:
x='python'
y='python'
print("Comparision operator",x==y)
print("Identity operator",x is y)
print("Identity operator",x is not y)
print("Id of x is",id(x))
print("Id of y is",id(y))

Comparision operator True
Identity operator True
Identity operator False
Id of x is 2084218715280
Id of y is 2084218715280

In [37]:
x='python programming'
y='python programming'
print("Comparision operator",x==y)
print("Identity operator",x is y)
print("Identity operator",x is not y)
print("Id of x is",id(x))
print("Id of y is",id(y))

Comparision operator True
Identity operator False
Identity operator True
Id of x is 2084310745328
Id of y is 2084311072304

In [38]:
x=[1,2,3,4]
y=[1,2,3,4]
print("Comparision operator",x==y)
print("Identity operator",x is y)
print("Identity operator",x is not y)
print("Id of x is",id(x))
print("Id of y is",id(y))

Comparision operator True
Identity operator False
Identity operator True
Id of x is 2084310334464
Id of y is 2084311066432

In [39]:
x=[1,2,3,4]
y=x
print("Comparision operator",x==y)
print("Identity operator",x is y)
print("Identity operator",x is not y)
print("Id of x is",id(x))
print("Id of y is",id(y))

Comparision operator True
Identity operator True
Identity operator False
Id of x is 2084310890944
Id of y is 2084310890944

In [40]:
x={1,2,3,4}
y={1,2,3,4}
print("Comparision operator",x==y)
print("Identity operator",x is y)
print("Identity operator",x is not y)
print("Id of x is",id(x))
print("Id of y is",id(y))

Comparision operator True
Identity operator False
Identity operator True
Id of x is 2084310312416
Id of y is 2084310307488

In [1]:
bin(5)

'0b101'

In [2]:
bin(7)

'0b111'

In [5]:
x=5
y=7
print("And operator result is x&y",x&y)
print("Or operator result is x|y",x|y)
print("Ex-Or operator result is x^y",x^y)

And operator result is x&y 5
Or operator result is x|y 7
Ex-Or operator result is x^y 2

In [6]:
a=9
print("Not operator result is",~a)

Not operator result is -10

In [7]:
~(12)

-13

In [8]:
~~(12)

12

In [9]:
~~~~~~~(12)

-13

In [10]:
~~(-17)

-17

In [11]:
~~~(-21)

20