In [17]:
#To create an empty set.
x=set()
print(type(x))

<class 'set'>

In [18]:
y={}
print(type(y))

<class 'dict'>

In [19]:
z={2}
print(type(z))

<class 'set'>

In [20]:
p={11,22,33,44,55,33,55}
print(p)

{33, 22, 55, 11, 44}

In [21]:
p={11,22,33,44,55,33,55}
len(p)

5

In [22]:
items={'pen','notebook','book','mobile'}
print(items)

{'notebook', 'book', 'pen', 'mobile'}

In [23]:
#to add elements into a set. only one element
items.add('laptop')
print(items)

{'mobile', 'book', 'laptop', 'notebook', 'pen'}

In [24]:
#to add more than one elements update()
items.update({'mouse','bag'})
items

{'bag', 'book', 'laptop', 'mobile', 'mouse', 'notebook', 'pen'}

In [25]:
#to delete elements from a set
items.pop()
print(items)

{'book', 'mouse', 'bag', 'laptop', 'notebook', 'pen'}

In [28]:
items.remove('bag')
items

KeyError: 'bag'

In [31]:
items.discard('laptop')
print(items)

{'book', 'mouse', 'notebook', 'pen'}

In [32]:
#mathematical operations on set
s1={2,3,4,8,7}
s2={5,6,8,7,9}
#union operation
print("Union of two sets",s1.union(s2))
print("Union of two sets",s2.union(s1))
print("Union of two sets",s1|s2) # | (or) operator

Union of two sets {2, 3, 4, 5, 6, 7, 8, 9}
Union of two sets {2, 3, 4, 5, 6, 7, 8, 9}
Union of two sets {2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
s1={2,3,4,8,7}
s2={5,6,8,7,9}
#intersection operation returns common elements
print("Intersection of two sets",s1.intersection(s2)) 
print("Intersection of two sets",s2.intersection(s1))
print("Intersection of two sets",s1&s2) # & (and) operator

Intersection of two sets {8, 7}
Intersection of two sets {8, 7}
Intersection of two sets {8, 7}

In [35]:
s1={2,3,4,8,7}
s2={5,6,8,7,9}
#symmentric difference operation returns uncommon elements
print("symmetric_difference of two sets",s1.symmetric_difference(s2)) 
print("symmetric_difference of two sets",s2.symmetric_difference(s1))
print("symmetric_difference of two sets",s1^s2) # ^ (ex-or) operator

symmetric_difference of two sets {2, 3, 4, 5, 6, 9}
symmetric_difference of two sets {2, 3, 4, 5, 6, 9}
symmetric_difference of two sets {2, 3, 4, 5, 6, 9}

In [36]:
s1={2,3,4,8,7}
s2={5,6,8,7,9}
#difference operation 
print("Difference of two sets",s1.difference(s2)) 
print("Difference of two sets",s2.difference(s1))
print("Difference of two sets",s1-s2) # - operator
print("Difference of two sets",s2-s1) # - operator

Difference of two sets {2, 3, 4}
Difference of two sets {9, 5, 6}
Difference of two sets {2, 3, 4}
Difference of two sets {9, 5, 6}

In [39]:
#To remove duplicates elements from a given list.
numbers=[101,202,303,101,404,505,404]
print("Given numers list",numbers)
#type conversion 
s1=set(numbers) 
print("Convert list into set",s1)
#type conversion
unique_numbers=list(s1) #convert set into list
print("Updated list is",unique_numbers)

Given numers list [101, 202, 303, 101, 404, 505, 404]
Convert list into set {101, 202, 303, 404, 505}
Updated list is [101, 202, 303, 404, 505]

In [44]:
#To find common and uncommon alphabets from a given strings.
x='sonali'
y='swaranjali'
#type conversion
s1=set(x)
print("Convert string into a set",s1)
s2=set(y)
print("Convert string into a set",s2)
#common alphabets
print("Common alphabets are",s1.intersection(s2))
#uncommon aplhabets
print("UnCommon alphabets are",s1.symmetric_difference(s2))

Convert string into a set {'a', 's', 'o', 'n', 'i', 'l'}
Convert string into a set {'w', 'a', 's', 'j', 'n', 'i', 'r', 'l'}
Common alphabets are {'a', 's', 'n', 'i', 'l'}
UnCommon alphabets are {'w', 'o', 'j', 'r'}

In [45]:
#to create empty frozenset.
f1=frozenset()
print(type(f1))

<class 'frozenset'>

In [46]:
f1=frozenset({2,4,6,8,10,12,12,6})
print(f1)

frozenset({2, 4, 6, 8, 10, 12})

In [47]:
f1=frozenset({2,4,6,8,10,12,12,6})
f2=frozenset({2,4,6,8})
f2.issubset(f1)

True

In [48]:
f1.issuperset(f2)

True